.products-row {
    height: 40px;
    background-color: #FFFFFF;
    border-top: 1px solid #ededed;

    a {
        color: #0288D1 !important;
        text-decoration: none;
    }

    td {
        padding: 18px 0 18px 10px;
    }

    button {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }

    &:hover {
        background-color: #f8f8f8 !important;
    }
}
.products-row .products-row-id{
  color:#888c90;
  font-size: 10px;
}
.products-row .action-buttons-container {
    padding-right: 20px;
    display: flex;
    flex-direction: row-reverse;
}
