.admin--products-table-container {
    .admin--products__table {
        width: 100%;
        border-collapse: collapse;
    }

    .admin--products__table .admin--products__table__tr-actions-container {
        background-color: #E1E4E9;
        height: 50px;
    }

    .admin--products__table .admin--products__table__tr-actions-container .search-text-container {
        padding-left: 10px;
        height: 25px;
        display: flex;
    }

    .admin--products__table .admin--products__table__tr-header {
        background-color: #FFFFFF;

        th {
            text-align: left;
            height: 40px;
            border-bottom: 1px solid #dddddd;
            padding-left: 10px;
        }
    }
}
