.admin-products-container {

    .products-table {
        width: 100%;
    }

    .products-table .products-table-actions {
        background-color: #E1E4E9;
    }

    .products-table .products-table-extra-actions-container {
        width: 20%;
    }

    .products-table .search-text-container {
        padding-left: 10px;
        height: 25px;

        .search-text {
            width: 40%;
            height: 100%;
        }
    }

    .products-table .products-table-header {
        background-color: #4FC3F7;
        color: #ffffff;
    }
}
