
.admin--products-row {
    height: 40px;
    background-color: #FFFFFF;
    border-top: 1px solid #ededed;

    a {
        color: #0288D1 !important;
        text-decoration: none;
    }

    td {
        padding: 18px 0 18px 10px;
    }

    button {
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }

    &:hover {
        background-color: #f8f8f8 !important;
    }
}

.admin--products-row.active {
    border-left: 5px solid #64DD17;
}

.admin--products-row.inactive {
    border-left: 5px solid #FF1744;
}

.admin--products-row .products-update-date {
    font-size: 10px;
}


.admin--products-row .action-buttons-container {
    padding-right: 20px;
    display: flex;
    flex-direction: row-reverse;
}
.admin--products-row .delete-section{
  font-size: 12px;
}
