.admin-products-container {
    .products-table {
        width: 100%;
        border-collapse: collapse;
    }

    .products-table .products-table-actions {
        background-color: #E1E4E9;
        height: 50px;
    }

    .products-table .products-table-header {
        background-color: #FFFFFF;
        th {
            text-align: left;
            height: 40px;
            border-bottom: 1px solid #dddddd;
        }
    }

    .products-table .products-table-actions .search-text-container {
        padding-left: 10px;
        height: 25px;
        display: flex;

        .search-text {
            width: 40%;
            height: 100%;
        }
    }
}
