.setup-container {
    padding: 20px 10px 20px 40px;
    width: 100%;

    .primary-form {
        width: 50%;
    }

    .primary-form .row {
        margin-bottom: 20px;
        height: 30px;
    }

    .primary-form .row .label {
        width: 20%;
        max-width: 100px;
        white-space: nowrap;
        vertical-align: top;
        display: inline-block;
        margin-top: 8px;
        font-size: 18px;
    }

    .primary-form .row .field {
        display: inline-block;
        width: 80%;
        height: 100%;

        .field-content {
            display: flex;
            height: 100%;
            font-size: 18px;
        }
        .field-control{
          width: 100%;
          height: 100%;
        }
    }
}
