body,
html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.hide {
    display: none;
}

.valign-center {
    display: inline-flex;
    align-items: center;
}

.full-width-height {
    height: 100%;
    width: 100%;
}
